{% extends 'polls/main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/detail.css' %}">
{% endblock css%}
{% block content %}
    <h1>{{ question.question_text }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="choice">
            {% if previous_choice == choice %}
                <button
                    type="input" 
                    name="choice" 
                    id="choice{{ forloop.counter }}" 
                    value="{{ choice.id }}"
                    class="btn btn-danger" disabled
                >
                    Voted
                </button>
            {% else %}
                <button
                    type="input" 
                    name="choice" 
                    id="choice{{ forloop.counter }}" 
                    value="{{ choice.id }}"
                    class="btn btn-info"
                >
                    Vote
                </button>
            {% endif %}
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-warning"><a href="{% url 'polls:index' %}">Back to List of Polls</a></button>
    </form>
{% endblock %}
