{% extends 'polls/main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
{% endblock css%}
{% block nav %}
    <nav class="navbar navbar-light bg-light navbar-box-shadow">
        <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
        <img src="{% static 'polls/KU_Logo_PNG.png' %}" width="60" height="60" class="d-inline-block align-top" alt="" style="margin: 0 20px;">
        <span style="font-size: 32px; font-weight: 700; color: rgb(82, 82, 82)">KU Polls</span>
        </a>
    </nav>
{% endblock nav %}
{% block content %}


    <!-- {% if messages %}
        {% for message in messages %}
        <div role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %} -->

    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <!-- <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>    -->
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span>{{ question.question_text }}</span>
                        </div>
                        <div class="col col-lg-2">
                            {% if question.can_vote %}
                                <div>
                                    <!-- <a href="{% url 'polls:detail' question.id %}">Vote</a> -->
                                    <button type="button" class="btn btn-primary"><a href="{% url 'polls:detail' question.id %}">Vote</a></button>
                                </div>
                            {% else %}
                                <div>
                                    <button type="button" class="btn btn-danger"><a class="text">Unvote</a></button>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col col-lg-2">
                            <button type="button" class="btn btn-warning"><a href="{% url 'polls:results' question.id %}">Results</a></button>
                        </div>
                    </div>
                </div>
                    <!-- <div class="question">
                        <span>{{ question.question_text }}</span>
                    </div>
                    {% if question.can_vote %}
                        <div>
                            <a href="{% url 'polls:detail' question.id %}">Vote</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'polls:detail' question.id %}">Unvote</a>
                        </div>
                    {% endif %}
                    <div>
                        <a href="{% url 'polls:results' question.id %}">Results</a>
                    </div>
                </div> -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}