{% extends 'polls/main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}">
{% endblock css%}
{% block nav %}
    <nav class="navbar navbar-light bg-light navbar-box-shadow justify-content-between">
        <div>
            <a class="d-flex align-items-center navbar-brand" href="#">
                <img src="{% static 'polls/KU_Logo_PNG.png' %}" width="60" height="60" class="d-inline-block align-top" alt="logo">
                <span style="font-size: 32px; font-weight: 700; color: rgb(82, 82, 82)">KU Polls</span>
            </a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <span>Hello, {{ user.username }}</span>
                <a href="{% url 'logout'%}" class="logout-btn">
                    <button type="button" class="btn btn-outline-danger">Logout</button>
                </a>
            {% else %}
                <a href="{% url 'login'%}" class="login-btn">Login</a>
                <a href="{% url 'signup'%}">
                    <button type="button" class="btn btn-secondary">Signup</button>
                </a>
            {% endif %}
        </div>
    </nav>
{% endblock nav %}
{% block content %}

    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span>{{ question.question_text }}</span>
                        </div>
                        <div class="col col-lg-2">
                            {% if question.can_vote %}
                                <div>
                                    {% if user.is_authenticated %}
                                        <button type="button" class="btn btn-primary"><a href="{% url 'polls:detail' question.id %}">Vote</a></button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary"><a href="{% url 'login' %}">Vote</a></button>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div>
                                    <button type="button" class="btn btn-danger"><a class="text">Unvote</a></button>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col col-lg-2">
                            <button type="button" class="btn btn-warning"><a href="{% url 'polls:results' question.id %}">Results</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}